/*
* Colors
*/

$primary-color: #2E2934;
$greylight-color: #CAD0E2;
$white-color: #FFFFFF;
$secondary-color: #DAA168;

/*
* Typgraphy
*/

$base-font-size: 16px;

$primary: $primary-color;
$secondary: $secondary-color;
